/*
Style pour le frontend du projet Ango
*/

body {
    margin:0;
    padding:0;
    font-family:'Ubuntu', sans-serif;
}

#map {
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%;
}

.block_text {
    position:fixed;
    background-color:white;
    color:#003A78;
    text-align:center;
    bottom:0px;
    width:100%;
    height:180px;
    z-index:1000;
    box-shadow: 0 -14px 30px 0 rgba(50, 50, 50, 0.2);
}

.logo-ango{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    display:block;
    position:fixed;
    width:240px;
    height:55px;
    top:50px;
    left:20px;
    z-index:1000;
    background-image:url(/img/logo-ango-normal.png);
    background-size:240px;
    background-repeat:no-repeat;
}

.cordage-top{
    display:none;
    position:relative;
    top:0;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-top.png);
    z-index:1001;
}

.cordage-bottom{
    display:none;
    position:relative;
    bottom:-21px;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-bottom.png);
    z-index:1001;
}

h1{
    font-weight: normal !important;
    font-size:25px;
    margin-top:15px;
    -webkit-margin-after: 0;
}

.text {
	margin-top:5px;
    font-size:12px;
    color:#003A78;
}
.block-recherche{
	vertical-align:top;
	display:block;
	position:relative;
	top:10px !important;
	bottom:2%;
	width:100%;
	height:auto;
	margin:0 auto;
}

.alert {
    color: #E00E1A;
    position: fixed;
  	width: 500px;
  	bottom: 1.5%;
  	left: 50%;
  	margin-left: -250px;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;   
}

.copyright{
	display:block;
	position:fixed;
	bottom:0.5%;
	width:100%;
	height:15px;
	text-align:center;	
	font-size: 12px;
}	

.bouton{
    display:block;
    position:absolute;
    width:50px;
    height:50px;
    z-index:3000;
    cursor:pointer;
    
}

.bouton.plus{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    background-image:url(/img/bouton-plus-normal.png);
    top:60px;
    right:50px;
    z-index:1000;
}

.bouton.moins{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    background-image:url(/img/bouton-moins-normal.png);
    top:100px;
    right:50px;
    z-index:1000;
}

.bouton.popup{
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    background-image:url(/img/bouton-popup-normal-info.png);
    background-size:35px;
    background-repeat:no-repeat;
    background-position: center;
    top:150px;
    right:50px;
    z-index:1000;
}

.search-ui{
    top:0;
}

input{
 	color: white !important;
}

button{
    border:0px;
    color:transparent;
    padding:0;
    cursor:pointer;
}

.geolocalisation{
    display:inline-block;
}

button#geolocate{
    position:relative;
    left:4px;
    width:37px;
    height:37px;
    color:white;
    font-family: 'Ubuntu', sans-serif;
    background-color:#E00E1A;
    border-radius:5px;
    cursor:pointer;
}

button.button{
    position:relative;
    -moz-top:-5px;
  	top:0px;
    left:10px;
    width:37px;
    height:37px;
    background-color:#E00E1A;
    background-image:url(/img/icone-recherche-ango-normal.png);
    border-radius:5px;
}

input.search-ville{
    margin-left:150px;
	vertical-align: top;
    background-color: #003A78;
    width:200px;
    border: 0px;
    padding: 10px;
    font-family: 'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
    border-radius:5px;
}

input::-webkit-input-placeholder {
    color:white;
}
 
input:-moz-placeholder {
    color:white;
}

select {
    margin-left:0px;
    vertical-align: top;
    background-color:#003A78;
    width:220px;
    height: 37px;
    border:0px;
    padding:10px;
    color:white;
    font-family:'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
    border-radius: 5px;
    -moz-border-radius: 5px;
    cursor:pointer;
}

#popup {
    display:none;
}

.lien-site{
	color:#E00E1A;
	text-decoration:none;
}

.popup_top {
    position:absolute;
    background-color:white;
    width:100%;
    height:25%;
    top:0px;
    z-index:1001;
}

.popup_bottom {
    position:absolute;
    top:25%;
    width:100%;
    height:74.6%;
    background-color:#003A78;
    color:white;
    font-size:20px;
    z-index:1002;
    overflow:auto;
    border-top:3px solid #E00E1A;
}

.popup_text {
    margin-top:2%;
    margin-left:22%;
    margin-right:22%;
    padding:5px;
    text-align: justify;
}

.popup_text_center {
    margin-top:3%;
    text-align:center;
    font-size:25px;
}

.popup_logo{
    position:relative;
    width:300px;
    height:71px;
    top:50%;
    margin-top:-35.5px;
    left:50%;
    margin-left:-150px;
    background-image:url(/img/logo-ango-normal-popup.png);
    background-size:cover; 
    z-index:1002;
}

.popup_button{
    float:right;
    position:relative;
    width:50px;
    height:50px;
    top:35%;
    right:5%;
    background-image:url(/img/bouton-popup-normal-info.png);
    background-size:cover;
    z-index:1002;
}

.popup_cordage{
    display:none;
    position:fixed;
    top:25%;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-top.png);
    z-index:1003;
}


/*///////////////////////////////////////////////////////////////////
//////////////// RESPONSIVE EXTRA SMALL DEVICE PHONE ////////////////
///////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 768px) {
	
	
					/*/////////////////////
					/// RESPONSIVE HOME ///
					/////////////////////*/
					

	.logo-ango { width:150px; top:3%; left:50%; margin-left:-75px; background-size: 150px;}
	.bouton.moins, .bouton.plus, .bouton.popup { right:3%;}
	.block_text {height: 33%;}
	h1 { font-size: 16px; margin-top: 8px;}
	button#geolocate { width: 25px; height: 25px; margin-left: 7px; margin-right: 24px; cursor:pointer;}
	.geolocalisation { margin-top:1%;  margin-left: 50px;}
	button.button { bottom: -8px; width: 25px; height: 25px; background-size:100%;}
	input.search-ville { margin-left: 0px; margin-top: 3px; width: 180px; height:5px; font-family: 'Ubuntu', sans-serif; font-size: 13px; font-style: italic; color:white !important;pointer:cursor;}
	.alert { bottom: 1%; font-size: 10px;}
	.block-recherche{margin-top:-10px;}
	.button.ville { margin-top:2px;}
	.button.search { margin-top:-1px;}
	.bouton { cursor:pointer;}
	select { width: 200px; height: 25px; cursor:pointer;}
	.copyright{font-size:11px;bottom:0.2%;}
	
					/*///////////////////////
					/// RESPONSIVE POP-UP ///
					///////////////////////*/
					
					
	.popup_logo { width:200px; height:50px; margin-top:-22px; margin-left:-100px; background-repeat:no-repeat; background-size:200px; }
	.popup_button { width:30px; height:30px; top: 36%; right: 3%; background-size: 30px;}
	.popup_text_center { margin-top: 2%; font-size: 15px;}
	.popup_text { margin-top: 2%; margin-left: 5%; margin-right: 5%; padding: 5px;}
	.popup_top { height: 20%;}
	.popup_bottom { font-size: 14px;height: 79.4%;top:20%;}
	
}


