/*
Style pour le frontend du projet Ango
*/

body {
    margin:0;
    padding:0;
    font-family:'Georgia', sans-serif;
}

#map {position:absolute; top:0; bottom:0; width:100%;}
.block_text {
    position:fixed;
    background-color:black;
    color:white;
    text-align:center;
    bottom:0px;
    width:100%;
    height:240px;
    z-index:1000;
}

.logo-ango{
    display:block;
    position:fixed;
    width:150px;
    height:164px;
    padding: 10px;
    top:15px;
    left:30px;
    z-index:1000;
    background-image:url(/img/logo-ango.png);
    background-size:cover;
}

.cordage-top{
    display:block;
    position:relative;
    top:0;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-top.png);
    z-index:1001;
}

.cordage-bottom{
    display:block;
    position:absolute;
    bottom:0px;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-bottom.png);
    z-index:1001;
}

h1{
    font-weight: normal !important;
    font-size:25px;
    margin-top:25px;
}

.text {
    font-size:12px;
    color:white;
}

.alert {
    color: red;
    position: fixed;
  	width: 500px;
  	left: 50%;
  	margin-left: -250px;
  	bottom:2.7%;
    -webkit-margin-before: 0.1em;
    -webkit-margin-after: 0.1em;
}

.bouton{
    display:block;
    position:absolute;
    width:50px;
    height:50px;
    z-index:3000;
}

.bouton.plus{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    background-image:url(/img/bouton-plus-ango.png);
    top:60px;
    right:50px;
    z-index:1000;
}

.bouton.moins{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    background-image:url(/img/bouton-moins-ango.png);
    top:100px;
    right:50px;
    z-index:1000;
}

.search-ui{
    top:0;
}

/*input.search-ui{
    top:0px;
    background-color: #FBF4EC;
    width:200px;
    border: 0px;
    padding: 10px;
    font-family: 'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
}*/

button{
    border:0px;
    color:transparent;
    padding:0;
}

.geolocalisation{
    display:inline-block;
}

button#geolocate{
    position:relative;
    left:7px;
    width:37px;
    height:37px;
    color:white;
    font-family: 'Georgia', sans-serif;
    background-color:#C4101F;
}

button.button{
    position:relative;
    bottom:-13px;
    left:10px;
    width:37px;
    height:37px;
    background-color:#C4101F;
    background-image:url(/img/search.png);
}

input.search-ville{
    margin-left:150px;
    top:0px;
    background-color: #FBF4EC;
    width:200px;
    border: 0px;
    padding: 10px;
    font-family: 'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
}

input::-webkit-input-placeholder {
    color:black;
}
 
input:-moz-placeholder {
    color:black;
}


select {
    margin-left:0px;
    top:0px;
    background-color:#FBF4EC;
    width:220px;
    height: 37px;
    border:0px;
    padding:10px;
    font-family:'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
    border-radius: 0px !important;
}

#popup {
    display:none;
}

.popup_top {
    position:absolute;
    background-image:url(/img/fond-parchemin-pop-up_1024.png);
    background-size:cover;
    width:100%;
    height:25%;
    top:0px;
    z-index:1001;
}

.popup_bottom {
    position:absolute;
    top:25%;
    width:100%;
    height:75%;
    background-color:black;
    color:white;
    font-size:20px;
    z-index:1002;
    overflow:auto;
}

.popup_text {
    margin-top:4%;
    margin-left:21%;
    margin-right:21%;
    padding:5px;
    text-align: justify;
}

.popup_text_center {
    margin-top:4%;
    text-align:center;
}

.popup_logo{
    position:relative;
    width:120px;
    height:134px;
    padding: 10px;
    top:20px;
    left:50%;
    margin-left:-60px;
    background-image:url(/img/logo-ango.png);
    background-size:cover; 
    z-index:1002;
}

.popup_button{
    float:right;
    position:relative;
    width:50px;
    height:50px;
    top:35%;
    right:5%;
    background-image:url(/img/bouton-pop-up_360.png);
    background-size:cover;
    z-index:1002;
}

.popup_cordage{
    display:block;
    position:fixed;
    top:25%;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-top.png);
    z-index:1003;
}

.bouton.popup{

  background-image: url(/img/bouton-pop-up_360.png);
  background-size:35px;
  background-repeat:no-repeat;
  background-position: center;
  top: 160px;
  right: 50px;
  width:50px;
  height:50px;
  z-index: 1000;
}


/*///////////////////////////////////////////////////////////////////
//////////////// RESPONSIVE EXTRA SMALL DEVICE PHONE ////////////////
///////////////////////////////////////////////////////////////////*/


@media only screen and (max-width: 768px) {
	
	
					/*/////////////////////
					/// RESPONSIVE HOME ///
					/////////////////////*/
					

	.logo-ango{ width:150px; top:3%; left:50%; margin-left:-75px;}
	.bouton.moins, .bouton.plus, .bouton.popup{right:2%;}
	.block_text {height: 35%;}
	h1 { font-size: 18px;margin-top: 8px;}
	button#geolocate {width: 25px; height: 25px; margin-left: 32px;}
	.geolocalisation{margin-top:1%;}
	select {width: 200px;height: 25px;}
	button.button {bottom: -8px; width: 25px; height: 25px; background-size:100% }
	input.search-ville {margin-left: 0px; margin-top: 10px; width: 180px; height:5px; font-family: 'Ubuntu', sans-serif; font-size: 13px; font-style: italic; color:white !important;}
	.alert { bottom: 2.5%; font-size: 10px;}
	.block-recherche{margin-top:-2px;}
	.logo-ango { width: 80px; height: 75px; padding: 0; top: 15px; left: 50%; margin-left: -40px; background-size: 90%; background-position: center; background-repeat: no-repeat;}
	.bouton.moins, .bouton.plus {background-size: 45px;background-position:center; background-repeat:no-repeat;}
	.bouton{width:45px;height:45px;}
	.bouton.popup{  background-size: 31.5px;width:45px;height:45px;  top: 145px;}
	.cordage-top {height: 10px; background-image: url(/img/cordage-top.png); background-size: 280%; background-repeat: no-repeat;}
	.cordage-bottom {height: 10px; background-image: url(/img/cordage-top.png); background-size: 280%; background-repeat: no-repeat;}
	
					/*///////////////////////
					/// RESPONSIVE POP-UP ///
					///////////////////////*/
					
					
	.popup_logo{width:120px; height:100%; margin:0 auto; padding:0px;top:0px;left:0;background-repeat:no-repeat; background-size:90px;background-position:center; }
	.popup_button { width:30px; height:30px; top: 36%; right: 3%; background-size: 30px;}
	.popup_text_center { margin-top: 5%; font-size: 15px;}
	.popup_text { margin-top: 2%; margin-left: 5%; margin-right: 5%; padding: 5px;}
	.popup_top { height: 20%;}
	.popup_bottom {font-size: 13px;height: 79.8%;top:20%;}
	.popup_cordage {height: 10px; background-image: url(/img/cordage-top.png); background-size: 280%; background-repeat: no-repeat;top:20%;}

}