/*
Style pour le frontend du projet Ango
*/

body {
    margin:0;
    padding:0;
    font-family: 'Georgia', sans-serif;
}

#map {position:absolute; top:0; bottom:0; width:100%;}
.block_text {
    position:fixed;
    background-color:black;
    color:white;
    text-align:center;
    bottom:0px;
    width:100%;
    height:215px;
    z-index:1000;
}

.logo-ango{
    display:block;
    position:fixed;
    width:150px;
    height:164px;
    padding: 10px;
    top:15px;
    left:30px;
    z-index:1000;
    background-image:url(/img/logo-ango.png);
    background-size:cover;
}

.cordage-top{
    display:block;
    position:fixed;
    top:440px;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-top.png);
    z-index:1001;
}

.cordage-bottom{
    display:block;
    position:fixed;
    bottom:0px;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-bottom.png);
    z-index:1001;
}

h1{
    font-weight: normal !important;
    font-size:25px;
    margin-top:25px;
}

.text {
    font-size:12px;
    color:white;
}

.alert {
    color: red;
}

.bouton{
    display:block;
    position:absolute;
    width:50px;
    height:50px;
    z-index:3000;
}

.bouton.plus{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    background-image:url(/img/bouton-plus-ango.png);
    top:60px;
    right:50px;
    z-index:1000;
}

.bouton.moins{
    transform: scale(0.7, 0.7);
    -ms-transform: scale(0.7, 0.7);
    -webkit-transform: scale(0.7, 0.7);
    background-image:url(/img/bouton-moins-ango.png);
    top:100px;
    right:50px;
    z-index:1000;
}

.bouton.popup{
    transform: scale(0.12, 0.12);
    -ms-transform: scale(0.12, 0.12);
    -webkit-transform: scale(0.12, 0.12);
    background-image:url(/img/bouton-pop-up_360.png);
    width:350px;
    height:350px;
    top:0px;
    right:-100px;
    z-index:1000;
}

.search-ui{
    top:0;
}

/*input.search-ui{
    top:0px;
    background-color: #FBF4EC;
    width:200px;
    border: 0px;
    padding: 10px;
    font-family: 'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
}*/

button{
    border:0px;
    color:transparent;
    padding:0;
}

.geolocalisation{
    display:inline-block;
}

button#geolocate{
    position:relative;
    left:10px;
    width:37px;
    height:37px;
    color:white;
    font-family: 'Georgia', sans-serif;
    background-color:#C4101F;
}

button.button{
    position:relative;
    bottom:-13px;
    left:10px;
    width:37px;
    height:37px;
    background-color:#C4101F;
    background-image:url(/img/search.png);
}

input.search-ville{
    margin-left:150px;
    top:0px;
    background-color: #FBF4EC;
    width:200px;
    border: 0px;
    padding: 10px;
    font-family: 'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
}

select {
    margin-left:0px;
    top:0px;
    background-color:#FBF4EC;
    width:200px;
    border:0px;
    padding:10px;
    font-family:'Georgia', sans-serif;
    font-size:15px;
    font-style:italic;
}

#popup {
    display:none;
}

.popup_top {
    position:absolute;
    background-image:url(/img/fond-parchemin-pop-up_1024.png);
    width:100%;
    height:25%;
    top:0px;
    z-index:1001;
}

.popup_bottom {
    position:absolute;
    top:25%;
    width:100%;
    height:75%;
    background-color:black;
    color:white;
    font-size:20px;
    z-index:1002;
    overflow:auto;
}

.popup_text {
    margin-left:22%;
    margin-right:22%;
    padding:5px;
}

.popup_text_center {
    text-align:center;
}

.popup_logo{
    position:relative;
    width:120px;
    height:134px;
    padding: 10px;
    top:0px;
    left:45%;
    background-image:url(/img/logo-ango.png);
    background-size:cover;
    z-index:1002;
}

.popup_button{
    float:right;
    position:relative;
    width:50px;
    height:50px;
    top:35%;
    right:5%;
    background-image:url(/img/bouton-pop-up_360.png);
    background-size:cover;
    z-index:1002;
}

.popup_cordage{
    display:block;
    position:fixed;
    top:25%;
    width:100%;
    height:18px;
    background-image:url(/img/cordage-top.png);
    z-index:1003;
}
