<!DOCTYPE html>
<html>
<head>
  <title>Ango Jobs  // Interface d'administration</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <!--Google Web Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'> <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body>

  <h1>ADMIN BACKOFFICE</h1>

<table class="table">
   <caption>Liste des métiers</caption>
      <thead>

         <tr>
            <th>Id Key</th>
            <th>Slug</th>
            <th>Label</th>
            <th>Code Rome<th>
         </tr>
      </thead>
   <tbody>
      <% @jobs_list.each do |job| %>
      <tr>
        <th><%= job.id_key %></th>
         <th><%= job.slug %></th>
         <th><%= job.label %></th>
         <th><%= job.code_rome %></th>
         <th>mettre un comment et/ou bouton supprimer</th>
      </tr>
      <% end %>
   </tbody>
</table>
</body>
</html>
