<div class="container">
  <h1>Who the hell are you ?</h1>

    <form action='/admin/login' method="post">
    <label placeholder="Utilisateur">Login</label><br>
    <input type="text" id="name" name="name"> <br>

    <label placeholder="Password">Password</label><br>
    <input type="password" id="password" name="password"> <br>

    <input type="submit" value="Envoyer">
  </form>
<div>
