<h1> STATISTIQUES </h1>

<h2> ALIMENTATION BASE </h2>

<h3>Date : 10 Juillet 2015</h3>

<ul>
  <li>Nombre d'url ajoutés : 456</li>
  <li>Nombre d'offres ajoutées : 65</li>
  <li>Nombre d'offres indisponibles enlevées :89</li>
  <li></li>
  <li></li>
</ul>


  <h2> OFFRES</h2>

  <p>Nombre d'offres par métier avec menu déroulant France/Région 1/Région 2</p>
  <p>Développeur : 65 - 67 %</p>
